/* Bold */
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText/SFProText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFProText/SFProText-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
