@import "fonts.css";

:root {
  font-size: 16px;

  /* Colors (dark theme default) */
  --gray-0: #fff;
  --gray-10: #f2f2f7;
  --gray-50: #e5e5ea;
  --gray-100: #d1d1d6;
  --gray-200: #c7c7cc;
  --gray-300: #aeaeb2;
  --gray-400: #8e8e93;
  --gray-500: #636366;
  --gray-600: #48484a;
  --gray-700: #3a3a3c;
  --gray-800: #2c2c2e;
  --gray-900: #1c1c1e;
  --gray-1000: #000;
  --white: #fff;
  --pink: #ff2d55;
  --red: #ff3b30;
  --red-transparent: rgba(255, 59, 48, 0.2);
  --orange: #ff9500;
  --orange-transparent: rgba(255, 149, 0, 0.1);
  --green: #28cd41;
  --green-transparent: rgba(40, 205, 65, 0.1);
  --mint: #00c7be;
  --mint-transparent: rgba(0, 199, 190, 0.1);
  --purple: #af52de;
  --purple-transparent: rgba(175, 85, 222, 0.1);

  /* Font weights */
  --font-weight-display-bold: bold;
  --font-weight-display-regular: normal;
  --font-weight-text-regular: normal;
  --font-weight-text-semibold: 600;

  /* Font sizes */
  --font-size-large-title: 2.125rem; /* 34px */
  --font-size-title1: 1.75rem; /* 28px */
  --font-size-title2: 1.375rem; /* 22px */
  --font-size-title3: 1.25rem; /* 20px */
  --font-size-body: 1.0625rem; /* 17px */
  --font-size-headline: 1.0625rem; /* 17px */
  --font-size-callout: 1rem; /* 16px */
  --font-size-subheadline: 0.9375rem; /* 15px */
  --font-size-footnote: 0.8125rem; /* 13px */
  --font-size-caption1: 0.75rem; /* 12px */
  --font-size-caption2: 0.6875rem; /* 11px */

  /* Line heights */
  --line-height-large-title: 2.5625rem; /* 41px */
  --line-height-title1: 2.125rem; /* 34px */
  --line-height-title2: 1.75rem; /* 28px */
  --line-height-title3: 1.5625rem; /* 25px */
  --line-height-body: 1.375rem; /* 22px */
  --line-height-headline: 1.375rem; /* 22px */
  --line-height-callout: 1.3125rem; /* 21px */
  --line-height-subheadline: 1.25rem; /* 20px */
  --line-height-footnote: 1.125rem; /* 18px */
  --line-height-caption1: 1rem; /* 16px */
  --line-height-caption2: 0.8125rem; /* 13px */

  /* Letter spacings */
  --letter-spacing-large-title: 0.025rem; /* 0.4px */
  --letter-spacing-title1: 0.02375rem; /* 0.38px */
  --letter-spacing-title2: -0.01625rem; /* -0.26px */
  --letter-spacing-title3: -0.028125rem; /* -0.45px */
  --letter-spacing-body: -0.026875rem; /* -0.43px */
  --letter-spacing-headline: -0.026875rem; /* -0.43px */
  --letter-spacing-callout: -0.019375rem; /* -0.31px */
  --letter-spacing-subheadline: -0.014375rem; /* -0.23px */
  --letter-spacing-footnote: -0.005rem; /* -0.08px */
  --letter-spacing-caption1: 0; /* 0px */
  --letter-spacing-caption2: 0.00375rem; /* 0.06px */

  /* Other */
  --stroke-width: 1px;
  --border-radius: 10px;
  --min-screen-width: 250px;
  --max-screen-width: 1440px;
  --popup-shadow: box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Light theme */
.light {
  --gray-0: #000;
  --gray-10: #1c1c1e;
  --gray-50: #2c2c2e;
  --gray-100: #3a3a3c;
  --gray-200: #48484a;
  --gray-300: #636366;
  --gray-400: #8e8e93;
  --gray-500: #aeaeb2;
  --gray-600: #c7c7cc;
  --gray-700: #d1d1d6;
  --gray-800: #e5e5ea;
  --gray-900: #f2f2f7;
  --gray-1000: #fff;
  --primary: #ff375f;
  --red: #ff453a;
  --red-transparent: rgba(255, 69, 58, 0.2);
  --orange: #ff9f0a;
  --orange-transparent: rgba(255, 149, 0, 0.1);
  --green: #32d74b;
  --green-transparent: rgba(50, 215, 75, 0.1);
  --mint: #66d4cf;
  --mint-transparent: rgba(147, 237, 233, 0.3);
  --purple: #bf5af2;
  --purple-transparent: rgba(191, 90, 242, 0.1);
}

:root {
  /* Colors */
  --primary: var(--pink);
  --error: var(--red);
  --error-transparent: var(--red-transparent);
  --tag-new: var(--purple);
  --tag-new-transparent: var(--purple-transparent);
  --tag-trending: var(--orange);
  --tag-trending-transparent: var(--orange-transparent);
  --tag-implemented: var(--green);
  --tag-implemented-transparent: var(--green-transparent);
  --tag-under-dev: var(--mint);
  --tag-under-dev-transparent: var(--mint-transparent);

  /* Toast styles */
  --toastify-toast-bd-radius: var(--border-radius);
  --toastify-font-family: "SFProText", sans-serif;
}

/* Start - Global styles */
body {
  background-color: var(--gray-1000);
  color: var(--gray-10);
  margin: 0 auto;
  height: 100vh;
  min-width: calc(var(--min-screen-width) - 3rem);
  max-width: var(--max-screen-width);
  padding: 0 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

body,
input,
button,
textarea,
option {
  font-family: "SFProText", sans-serif;
  font-weight: var(--font-weight-text-regular);
}

h1,
h2,
h3,
h4,
h5,
h6,
.download-app a,
dt {
  font-family: "SFProDisplay", sans-serif;
  font-weight: var(--font-weight-display-bold);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  color: var(--primary);
  text-decoration: none;
}

dl > div:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

dt {
  font-size: var(--font-size-title3);
  letter-spacing: var(--letter-spacing-title3);
  line-height: var(--line-height-title3);
  margin-bottom: 0.375rem;
}

dd {
  font-size: var(--font-size-headline);
  letter-spacing: var(--letter-spacing-headline);
  line-height: var(--line-height-headline);
  font-weight: var(--font-weight-text-regular);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

form + .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

.overlay-content {
  z-index: 500;
}

.hidden {
  display: none;
}

/* Start - Toast styles */
.Toastify__toast-container {
  width: calc(100vw - 1rem);
}

.Toastify__toast {
  width: 280px;
  border: var(--stroke-width) solid var(--error);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.Toastify__toast-theme--light {
  background: var(--gray-900);
  color: var(--gray-0);
}

.Toastify__toast-icon svg * {
  fill: var(--error);
}

.Toastify__close-button--light {
  color: var(--gray-0);
  opacity: 0.5;
}
/* End - Toast styles */

/* Start - Text link styles */
.text-link {
  border-radius: calc(var(--border-radius) / 2);
  width: fit-content;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 2px solid var(--primary);
}

.text-link:focus:hover {
  opacity: 0.7;
  text-decoration: none;
}
/* End - Text link styles */

/* Start - Close button styles */
.close-btn svg path:first-of-type {
  fill: var(--gray-100);
}

.light .close-btn svg path:first-of-type {
  fill: var(--gray-500);
}

.close-btn:focus {
  outline: none;
}

.close-btn:focus svg path:first-of-type {
  fill: var(--primary);
}

.close-btn:focus svg path:last-of-type {
  fill: var(--gray-0);
}

.close-btn:hover {
  cursor: pointer;
  opacity: 0.65;
}
/* End - Close button styles */

/* Start - Skip link styles*/
#skip-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  text-decoration: none;
  text-align: center;
  color: var(--gray-900);
  background-color: var(--gray-0);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: top 0.2s ease-in-out;
  z-index: 10000;
}

#skip-link:focus {
  top: 2.15rem;
  outline: none;
  border: 2px solid var(--primary);
}

#skip-link:hover {
  background-color: var(--gray-200);
}

#skip-link:active {
  opacity: 0.8;
}
/* End - Skip link styles*/

/* Start - Link button styles */
.form .link-btn,
.link-btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--border-radius);
  font-size: var(--font-size-title2);
  letter-spacing: var(--letter-spacing-title2);
  line-height: var(--line-height-title2);
  border: var(--stroke-width) solid transparent;
}

.link-btn:hover {
  color: var(--white);
  border: var(--stroke-width) solid var(--primary);
}

.form .link-btn:focus,
.link-btn:focus {
  background-color: var(--gray-700);
  color: var(--gray-0);
}

.form .link-btn:focus-visible,
.form .link-btn:hover {
  outline: var(--stroke-width) solid var(--primary);
  border: var(--stroke-width) solid transparent;
}

.form .link-btn:hover,
.link-btn:hover {
  background-color: var(--gray-500);
  cursor: pointer;
}

.form .link-btn:active,
.link-btn:active {
  background-color: var(--gray-700);
}
/* End - Link button styles */

/* Start - Back link styles */
.back-link {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--primary);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-semibold);
}

.back-link svg {
  width: 1rem;
  height: 1rem;
  stroke: var(--primary);
}

.back-link svg * {
  fill: var(--primary);
}
/* End - Back link styles */

/* Start - Close modal styles*/
.close-modal {
  background-color: transparent;
  border: none;
}

.close-modal svg {
  height: 100%;
}

.close-modal:hover {
  cursor: pointer;
}
/* End - Close modal styles*/

/* Start - Spinner styles */
.spinner-wrapper {
  margin-top: 1.5rem;
  margin-bottom: auto;
}

.spinner-container {
  position: relative;
}

.spinner-container + .message {
  text-align: center;
  font-size: var(--font-size-title3);
  letter-spacing: var(--letter-spacing-title3);
  line-height: var(--line-height-title3);
  font-weight: var(--font-weight-display-regular);
  color: var(--gray-50);
  margin-top: 1rem;
}

.spinner div div {
  background: var(--gray-10);
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
/* End - Spinner styles */

/* Start - Message styles */
.message {
  text-align: center;
}
/* End - Message styles */

/* Start - Form styles (Contact and Submit Feature Request)*/
.form {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.input-label-container {
  background-color: var(--gray-800);
  border: var(--stroke-width) solid transparent;
  border-radius: var(--border-radius);
  position: relative;
}

.form input,
.form textarea {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--gray-0);
  padding: 1.95rem 0.625rem 0.625rem;
  box-sizing: border-box;
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

.input-label-container:focus-within input,
.input-label-container:focus-within textarea {
  outline: none;
}

.input-label-container:focus-within {
  border: var(--stroke-width) solid var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

.error-input:focus-within input,
.error-input:focus-within textarea {
  outline: none;
}

.error-input {
  border: var(--stroke-width) solid var(--error);
}

.error-input:focus-within {
  border: var(--stroke-width) solid var(--gray-100);
  box-shadow: 0 0 10px var(--gray-100);
}

/* Start - Custom scroll bar */
@-moz-document url-prefix() {
  /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
  .custom-scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: none var(--gray-500);
  }
}

/* Chrome, Edge and Safari */
.custom-scroll-bar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: var(--gray-300);
  border: 2.25px solid var(--gray-900);
}

.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}

.custom-scroll-bar::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-400);
}
/* End - Custom scroll bar */

.form div {
  position: relative;
}

.form label {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-semibold);
  color: var(--gray-0);
}

.char-limit {
  position: absolute;
  bottom: 0rem;
  right: 0.625rem;
  bottom: 0.25rem;
  margin: 0;
  color: var(--gray-100);
  font-size: var(--font-size-footnote);
  letter-spacing: var(--letter-spacing-footnote);
  line-height: var(--line-height-footnote);
  font-weight: var(--font-weight-text-regular);
}

.form .required span {
  color: var(--primary);
}

.form input {
  height: 73px;
}

.form textarea {
  height: 200px;
  min-height: 200px;
  max-height: 300px;
  resize: vertical;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2.25rem;
  margin-bottom: 0.3rem;
}

.error-message {
  position: relative;
  margin: 0;
  padding-top: 0.25rem;
  background-color: var(--error-transparent);
  border: var(--stroke-width) solid var(--error);
  border-radius: calc(var(--border-radius) / 2);
  width: fit-content;
  padding: 2px 4px;
  margin-top: 0.5rem;
  color: var(--error);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

.form input[type="submit"] {
  width: 60%;
  min-width: fit-content;
  max-width: 160px;
  align-self: center;
  height: fit-content;
}

/* Start - Form success styles */
.form-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 6rem);
  max-width: 750px;
  min-height: 200px;
  max-height: 60vh;
  z-index: 2000;
  overflow: auto;
  background-color: var(--gray-900);
  padding: 1rem;
  border: var(--stroke-width) solid var(--green);
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--green);
  display: grid;
  gap: 1rem;
}

.form-success.error {
  border-color: var(--error);
  box-shadow: 0 0 5px var(--error);
}

.form-success h3,
.form-success p {
  text-align: center;
}

.form-success h3 {
  font-size: var(--font-size-title2);
  letter-spacing: var(--letter-spacing-title2);
  line-height: var(--line-height-title2);
}

.form-success p {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-display-regular);
  margin: 0 auto;
  max-width: 45ch;
}
.form-success .submitted-email {
  border-bottom: calc(var(--stroke-width) * 2) solid var(--primary);
}

.form-success dd {
  border: var(--stroke-width) solid var(--gray-500);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  max-height: 200px;
  overflow: auto;
  word-break: break-word;
}

.form-success .close-modal {
  grid-row: 1 / 2;
  justify-self: end;
}
/* End - Form success styles */
/* End - Form styles */
/* End - Global styles */

/* Start - Header styles */
header {
  --nav-padding: 0.25rem;
  --nav-margin: 1rem;

  background-color: var(--gray-900);
  border-radius: var(--border-radius);
  position: fixed;
  width: calc(100% - ((2 * var(--nav-margin)) + (2 * var(--nav-padding))));
  min-width: calc(var(--min-screen-width) - 3rem);
  max-width: var(--max-screen-width);
  left: 50%;
  transform: translateX(-50%);
  top: var(--nav-margin);
  padding: var(--nav-padding);
  font-size: var(--font-size-title2);
  letter-spacing: var(--letter-spacing-title2);
  line-height: var(--line-height-title2);
  z-index: 1000;
  border: var(--stroke-width) solid var(--gray-700);
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--gray-0);
  width: fit-content;
}

.site-logo h1 {
  font-size: var(--font-size-title2);
  letter-spacing: var(--letter-spacing-title2);
  line-height: var(--line-height-title2);
}

.site-logo:hover {
  opacity: 0.8;
}

@media (pointer: coarse) {
  .site-logo:hover {
    opacity: 1;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.logo-container svg {
  width: 100%;
  height: 100%;
}

nav input {
  display: none;
}

nav label {
  position: absolute;
  top: 12px;
  right: 12px;
}

nav label:focus-visible {
  outline: 2px solid var(--primary);
  border-radius: var(--border-radius);
}

.hamburger-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
}

.hamburger-container:hover {
  cursor: pointer;
}

.hamburger {
  width: 100%;
  height: 3px;
  background-color: var(--gray-0);
  border-radius: 999px;
  transition:
    width 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.hamburger.top,
.hamburger.bottom {
  transition-delay: 0.18s;
  transform-origin: left;
}

.hamburger.middle.expanded {
  width: 0;
}

.hamburger.top.expanded {
  transform: translateX(5px) translateY(-1.75px) rotate(45deg);
}

.hamburger.bottom.expanded {
  transform: translateX(5px) translateY(2.75px) rotate(-45deg);
}

nav ul {
  display: flex;
  flex-direction: column;
  height: 48px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

nav input:checked ~ ul {
  height: 296px;
}

nav li {
  margin-bottom: 1.125rem;
}

nav li:first-of-type {
  margin: 0;
}

nav li:nth-of-type(2) {
  margin-top: 2rem;
}

nav a {
  color: var(--gray-0);
  border: 2px solid transparent;
  padding: 0.125rem;
  position: relative;
}

nav a:not(.site-logo)::after,
nav a:not(.site-logo)::before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.2s ease-in-out;
}

nav a.active:not(.site-logo)::before,
nav a:not(.site-logo):hover::before {
  filter: blur(5px);
}

nav a.active:not(.download-app a)::after,
nav a.active:not(.download-app a)::before {
  background-color: var(--gray-0);
  width: 100%;
}

nav a:hover:not(.site-logo)::after,
nav a:hover:not(.site-logo)::before {
  background-color: var(--primary);
  width: 100%;
}

nav a.active:not(.download-app a):hover::after {
  background-color: var(--primary);
}

nav a.active:not(.site-logo):focus-visible,
nav a:not(.site-logo):focus-visible {
  &::before,
  &::after {
    width: 0;
  }
}

nav a:focus-visible {
  outline: none;
  border: 2px solid var(--primary);
  border-radius: var(--border-radius);
  box-shadow: 0 0 8px var(--primary);

  &:hover {
    border-color: var(--gray-0);
    box-shadow: 0 0 8px var(--gray-0);
  }
}

.download-app {
  text-align: center;
  background-color: var(--gray-0);
  border-radius: var(--border-radius);
  align-self: center;
  width: 100%;
  max-width: 350px;
  margin-top: auto;
  margin-bottom: 0;
}

.download-app.disabled {
  opacity: 0.5;
}

.download-app a {
  color: var(--gray-900);
  display: block;
  padding: 0.5rem;
}

.download-app a.active {
  border: none;
}
/* End - Header styles */

/* Start - Main styles */
main {
  margin-top: 6rem;
  scroll-margin-top: 6rem;
  width: 100%;
}

main h2 {
  font-size: var(--font-size-large-title);
  letter-spacing: var(--letter-spacing-large-title);
  line-height: var(--line-height-large-title);
  margin-bottom: 1.5rem;
}

main > section {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto 0;
}

.page-description {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-semibold);
  margin-bottom: 2.5rem;
  max-width: 36ch;

  a:hover {
    text-shadow: 0 0 10px var(--primary);
  }
}
/* End - Main styles */

/* Start - Features page styles */
.features-container {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
}

.feature-container {
  padding: 1rem;
  background-color: var(--gray-900);
  color: var(--gray-0);
  border: var(--stroke-width) solid var(--gray-500);
  border-radius: var(--border-radius);
  position: relative;
  width: calc(100% - 2rem);
  max-width: calc(320px + 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-container h3 {
  font-size: var(--font-size-title1);
  letter-spacing: var(--letter-spacing-title1);
  line-height: var(--line-height-title1);
  margin-bottom: 1rem;
}

.feature-container p {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

.asset-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 200px;
  max-width: 35vh;
  max-height: calc(650px / 35vh);
  margin-top: 1rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: calc((650 / 320) * 100%);
  }

  img,
  video {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
  }
}

/* TODO: Move to larger screens */

/* .note-taking { */
/*   display: grid; */
/*   grid-template-columns: 1fr 1fr; */
/*   grid-template-rows: 1fr 1fr; */
/**/
/*   .content-container { */
/*     grid-row: 2 / -1; */
/*     align-self: end; */
/*     justify-self: center; */
/*   } */
/**/
/*   video { */
/*     grid-column: 2 / -1; */
/*     grid-row: 1 / -1; */
/*     justify-self: center; */
/*   } */
/* } */
/* Start - Link Feature Styles */
@property --connector-percent-right {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --connector-percent-left {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.link-notes .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;

  svg {
    width: 100%;
    height: auto;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 1rem;
    min-height: 1rem;
    aspect-ratio: 1 / 1;

    * {
      fill: var(--gray-0);
    }
  }

  .line {
    width: 15%;
    height: 2px;
    opacity: 1;
    background-color: var(--gray-0);
    animation: connector 5s linear infinite;
  }

  .left-line {
    margin: 0 0.5rem 0 0.25rem;
    background: linear-gradient(
      to right,
      var(--gray-0),
      var(--gray-0) var(--connector-percent-left),
      transparent 0%
    );
  }

  .right-line {
    margin: 0 0.25rem 0 0.5rem;
    background: linear-gradient(
      to right,
      var(--gray-0),
      var(--gray-0) var(--connector-percent-right),
      transparent 0%
    );
  }

  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 0rem 0.7rem;
    position: relative;
  }

  .link {
    width: calc(100% + 1rem);
    transform: rotate(45deg);
  }

  .link * {
    fill: var(--white);
  }
}

@keyframes connector {
  0% {
    opacity: 0;
    --connector-percent-left: 0%;
    --connector-percent-right: 0%;
  }
  20% {
    opacity: 1;
    --connector-percent-left: 0%;
  }
  35% {
    --connector-percent-left: 100%;
  }
  40% {
    --connector-percent-right: 0%;
  }
  55% {
    --connector-percent-right: 100%;
  }
  80% {
    opacity: 1;
  }
  88% {
    opacity: 0;
    --connector-percent-left: 100%;
    --connector-percent-right: 100%;
  }
  100% {
    opacity: 0;
    --connector-percent-left: 0%;
    --connector-percent-right: 0%;
  }
}
/* End - Link Feature Styles */

/* Start - Dark/Light Mode Styles */
.dark-light-mode .asset-container {
  display: block;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  .crop {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 0;
    box-shadow: none;
  }

  .crop:has(.dark-mode) {
    width: 50%;
    border-right: 2px solid var(--primary);
  }

  button {
    --pulse-duration: 1.5s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: var(--primary);
    width: 10vw;
    height: 10vw;
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 50%;
    z-index: 100;
    transition: transform 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: button-pulse var(--pulse-duration) linear infinite;

    .btn-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--primary);
      z-index: -1;
      animation: button-bg-pulse var(--pulse-duration) linear infinite;
    }

    svg {
      width: 100%;
      height: 100%;

      * {
        fill: var(--white);
      }
    }

    &:hover {
      cursor: ew-resize;
      box-shadow: 0 0 10px var(--primary);
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.9);
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 10px var(--primary);
    }
  }
}

@keyframes button-bg-pulse {
  0% {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.6);
  }
  66% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}

@keyframes button-pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  30% {
    transform: translate(-50%, -50%) scale(1);
  }
  66% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* End - Dark/Light Mode Styles */

/* Start - Familiar Functions Styles */
.carousel-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.familiar-functions-list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90px;
  align-self: center;
}

.familiar-functions-list li {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0.75rem;
  min-width: 150px;
  position: absolute;
  transform: scale(0.7);
  opacity: 0.6;
  transition: all 0.4s linear;

  svg * {
    fill: var(--gray-0);
  }

  &.center {
    right: 50%;
    transform: translateX(50%) scale(1);
    opacity: 1;

    svg * {
      fill: var(--primary);
    }
  }

  &.left {
    opacity: 0;
    right: 130%;
    transform: translateX(100%) scale(0.7);
  }

  &.left-outer {
    opacity: 0;
    right: calc(100% + 1rem);
  }

  &.right {
    opacity: 0;
    right: -40%;
  }

  &.right-outer {
    opacity: 0;
    right: -8rem;
  }
}

.familiar-functions-list li p {
  text-align: center;
}

.familiar-functions {
  display: flex;
  flex-direction: column;
}
/* End - Familiar Functions Styles */
/* End - Features page styles */

/* Start - Contact page styles */
.contact-page {
  display: flex;
  flex-direction: column;
}
/* End - Contact page styles */

/* Start - Feature requests page styles */
.feature-requests-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-requests-page > div {
  width: 100%;
}

.feature-requests-page h2,
.feature-requests-page .page-description {
  align-self: flex-start;
}

.options-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
}

.options-container > div {
  display: flex;
  max-width: 370px;
}

.sort-filter-container {
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.options-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 8px 16px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--border-radius);
  border: none;
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
  height: fit-content;
  width: fit-content;
  border: var(--stroke-width) solid transparent;
}

.options-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (pointer: coarse) {
  .options-btn:hover {
    opacity: 1;
  }
}

.options-btn.dimmed {
  opacity: 0.5;
}

.options-btn:focus-visible {
  outline: none;
  border: var(--stroke-width) solid var(--gray-0);
}

.sort-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray-800);
  border-radius: var(--border-radius);
  padding: 8px;
}

.sort-options-container > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sort-options-container > svg * {
  fill: var(--gray-0);
}

.sort-order-checkbox label {
  border: var(--stroke-width) solid transparent;
  border-radius: calc(var(--border-radius) / 2);
  padding: 2px;
}

.sort-order-checkbox label:hover {
  cursor: pointer;
  opacity: 0.7;
}

.sort-order-checkbox svg * {
  fill: var(--primary);
}

.sort-order-checkbox label:focus-visible {
  outline: none;
  border: var(--stroke-width) solid var(--gray-0);
}

#sort-options {
  appearance: none;
  text-align: center;
  padding: 0;
  background-color: transparent;
  color: var(--primary);
  font-weight: var(--font-weight-text-semibold);
  border-radius: calc(var(--border-radius) / 2);
}

.filter-options-container {
  justify-self: end;
  position: relative;
}

.filter-options-btn.inactive {
  background-color: var(--gray-800);
  color: var(--gray-0);
}

.filter-options-btn svg * {
  fill: var(--white);
}

.filter-options-btn.inactive svg * {
  fill: var(--gray-0);
}

.filter-options {
  background-color: var(--gray-900);
  color: var(--gray-0);
  border: var(--stroke-width) solid var(--gray-500);
  border-radius: var(--border-radius);
  padding: 1rem;
  position: absolute;
  /* right: 0; */
  left: 0;
  width: calc(100vw - 3rem);
  max-width: 21.875rem;
  min-width: 150px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.filter-options fieldset {
  margin-bottom: 1.75rem;
}

.filter-options legend {
  font-weight: var(--font-weight-text-semibold);
  width: 100%;
  border-bottom: 1px solid var(--gray-500);
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
}

.filter-options .options label:hover {
  cursor: pointer;
  background-color: var(--gray-500);
}

@media (pointer: coarse) {
  .filter-options .options label:hover {
    background-color: initial;
  }
}

.filter-options .options label:focus-visible {
  outline: none;
  border: var(--stroke-width) solid var(--gray-0);
}

.filter-options .options input:checked + label:hover {
  background-color: var(--primary);
  opacity: 0.8;
}

@media (pointer: coarse) {
  .filter-options .options input:checked + label:hover {
    opacity: 1;
  }
}

.filter-options fieldset > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.filter-options label {
  font-size: var(--font-size-subheadline);
  letter-spacing: var(--letter-spacing-subheadline);
  line-height: var(--line-height-subheadline);
  font-weight: var(--font-weight-text-regular);
  border: var(--stroke-width) solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.375rem 0.5rem;
}

.filter-options input:checked + label {
  background-color: var(--primary);
  color: var(--white);
}

#filter-options-form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

#filter-options-form > div > * {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

#filter-options-form > div > *:hover {
  cursor: pointer;
}

#filter-options-form .text-link {
  padding: 0;
}

#filter-options-form input[type="submit"] {
  font-weight: var(--font-weight-text-semibold);
}

/* Start - Search bar styles */
.search-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.15s ease-in-out;
}

.search-bar-container button {
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
  padding: 0;
}

.search-bar-container button:hover {
  cursor: pointer;
}

.search-bar {
  position: relative;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.search-bar input {
  --search-bar-padding: 2.25rem;

  background-color: var(--gray-800);
  border: none;
  border-radius: var(--border-radius);
  color: var(--gray-0);
  height: 2.25rem;
  padding: 0 var(--search-bar-padding);
  width: calc(100% - (2 * var(--search-bar-padding)));
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

.search-bar input:focus {
  outline: none;
}

.search-bar::placeholder {
  color: var(--gray-500);
}

.search-bar svg,
.search-bar button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar svg {
  width: 20px;
}

.search-bar > svg {
  left: 8px;
}

.search-bar > svg * {
  fill: var(--gray-400);
}

.search-bar button {
  right: 28px;
}

.search-bar-container > button {
  border: var(--stroke-width) solid transparent;
}

.search-bar-container > button:hover {
  opacity: 0.7;
}

.search-bar-container > button:focus-visible {
  outline: none;
  border: var(--stroke-width) solid var(--primary);
  border-radius: var(--border-radius);
}
/* End - Search bar styles */

/* Start - Feature request card */
.feature-request-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0 3rem;
  width: 100%;
  word-break: break-word;
  justify-content: flex-start;
}

.feature-request-cards-container .no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 400px;
  text-align: center;

  svg {
    width: 2rem;
    height: 2rem;
  }

  svg * {
    fill: var(--gray-300);
  }

  .message:first-of-type {
    font-size: var(--font-size-title2);
    letter-spacing: var(--letter-spacing-title2);
    line-height: var(--line-height-title2);
    font-weight: var(--font-weight-display-bold);
  }

  .message:last-of-type {
    color: var(--gray-100);
  }
}

.feature-request-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray-900);
  border-radius: var(--border-radius);
  border: var(--stroke-width) solid var(--gray-600);
  padding: 0.625rem;
  height: 100%;
  min-height: 230px;
  max-height: 280px;
  width: calc(100% - 1rem);
  max-width: calc(400px - (2 * 0.625rem) - 2rem);
}

.feature-request-card.skeleton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  div {
    border-radius: calc(var(--border-radius) / 2);
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholder-shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(
      90deg,
      var(--gray-700) 8%,
      var(--gray-600) 38%,
      var(--gray-700) 54%
    );
    background-size: 1000px 640px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .hide-shimmer {
    opacity: 0;
  }

  .title {
    width: 80%;
    height: 1.5rem;
  }

  .summary {
    width: 100%;
    height: 4rem;
    margin: 1rem 0 0.5rem;
  }

  .date-created {
    width: 50%;
    height: 0.85rem;
    margin-top: auto;
    align-self: flex-end;
  }
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.feature-request-card > div:first-of-type {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.feature-request-card > div:last-of-type {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.feature-request-card h3 {
  font-size: var(--font-size-title3);
  letter-spacing: var(--letter-spacing-title3);
  line-height: var(--line-height-title3);
  color: var(--gray-0);
}

.feature-request-card p {
  font-size: var(--font-size-subheadline);
  letter-spacing: var(--letter-spacing-subheadline);
  line-height: var(--line-height-subheadline);
  font-weight: var(--font-weight-text-regular);
  color: var(--gray-0);
  margin: 1rem 0 0.5rem;
  max-height: 5rem;
  overflow: hidden;
}

.feature-request-card a {
  font-weight: var(--font-weight-text-semibold);
}

/* Start - Tag styles */
.tag {
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem;
}

.tag:not(.tag.compact) {
  padding-right: 0.625rem;
  gap: 0.5rem;
  height: 32px;
}

.tag.compact {
  width: 32px;
  height: 32px;
}

.tag.new {
  background-color: var(--purple-transparent);
  border-color: var(--purple);
}

.tag.trending {
  background-color: var(--orange-transparent);
  border-color: var(--orange);
}

.tag.under-dev {
  background-color: var(--mint-transparent);
  border-color: var(--mint);
}

.tag.implemented {
  background-color: var(--tag-implemented-transparent);
  border-color: var(--tag-implemented);
}

.tag svg {
  width: 32px;
  height: 32px;
}

.tag.new svg {
  margin-top: 0.375rem;
}

.tag.new svg * {
  fill: var(--tag-new);
}

.tag.trending svg * {
  fill: var(--tag-trending);
}

.tag.under-dev svg * {
  fill: var(--tag-under-dev);
}

.tag.under-dev svg path:nth-of-type(2) {
  fill: var(--gray-800);
}

.tag.implemented svg * {
  fill: var(--tag-implemented);
}

.tag.compact p {
  display: none;
}
/* End - Tag styles */

/* Start - Vote controls styles */
.vote-controls {
  position: relative;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  border: var(--stroke-width) solid var(--gray-500);
  border-radius: var(--border-radius);
  padding: 0.375rem;
  height: 32px;
}

.vote-error {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  min-width: 170px;
  max-width: 200px;
  text-align: center;
  background-color: var(--gray-900);
  border: var(--stroke-width) solid var(--error);
  border-radius: var(--border-radius);
  padding: 0.25rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.vote-error > svg {
  width: 2rem;
  min-width: 2rem;
}

.vote-error > svg * {
  fill: var(--error);
}

.vote-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.vote-button svg {
  width: 28px;
  height: 28px;
}

.vote-button svg * {
  fill: var(--primary);
  stroke: 1px solid var(--primary);
}

.vote-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (pointer: coarse) {
  .vote-button:hover {
    opacity: 1;
  }
}

.vote-button:focus-visible {
  outline: 2px solid var(--gray-0);
}

.vote-controls p {
  font-variant-numeric: tabular-nums;
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-semibold);
  color: var(--gray-0);
  margin: 0;
}
/* End - Vote controls styles */

.feature-request-card .date-created {
  margin: 0;
  color: var(--gray-100);
  font-size: var(--font-size-footnote);
  letter-spacing: var(--letter-spacing-footnote);
  line-height: var(--line-height-footnote);
  font-weight: var(--font-weight-text-regular);
  /* TODO: Align to right/end */
}

.submit-request-link {
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  width: fit-content;
  text-align: center;
}

.submit-request-link:focus-visible {
  outline: none;
}

.submit-request-link:focus {
  border: var(--stroke-width) solid var(--primary);
}
/* End - Feature request card */
/* End - Feature requests page styles */

/* Start - Full feature request page styles */
.full-feature-request-page {
  display: grid;
  max-width: 1000px;
  word-break: break-word;
}

.full-feature-request-page h2 {
  font-size: var(--font-size-title1);
  letter-spacing: var(--letter-spacing-title1);
  line-height: var(--line-height-title1);
  margin-bottom: 0.5rem;
}

.full-feature-request-page > p:not(.message) {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
  max-width: 60ch;
}

.full-feature-request-page > p:first-of-type {
  margin-bottom: 1.5rem;
}

.full-feature-request-page > .border-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 0.625rem 0;
  border-bottom: var(--stroke-width) solid var(--gray-600);
  margin-bottom: 1rem;
}

.description {
  max-width: 55ch;
  margin: 0 auto;
}

.full-feature-request-page > .back-link-container {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin-bottom: 1.5rem;
}

.full-feature-request-page .date-created {
  grid-row: 2 / 3;
  margin: 0;
  color: var(--gray-100);
  font-size: var(--font-size-footnote);
  letter-spacing: var(--letter-spacing-footnote);
  line-height: var(--line-height-footnote);
  font-weight: var(--font-weight-text-regular);
}
/* End - Full feature request page styles */

/* Start - Privacy policy page styles */
.privacy-policy-page > *,
.privacy-policy-page li {
  margin-bottom: 1rem;
}
.privacy-policy-page h3 {
  font-size: var(--font-size-title1);
  letter-spacing: var(--letter-spacing-title2);
  line-height: var(--line-height-title2);
}

.privacy-policy-page h4 {
  font-size: var(--font-size-title2);
  letter-spacing: var(--letter-spacing-title3);
  line-height: var(--line-height-title3);
}

.privacy-policy-page h5 {
  font-size: var(--font-size-title3);
  letter-spacing: var(--letter-spacing-title3);
  line-height: var(--line-height-title3);
  margin-bottom: 0.5rem;
}

.privacy-policy-page p,
.privacy-policy-page li {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-regular);
}

.privacy-policy-page ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}
/* End - Privacy policy page styles */

/* Start - Submit request page styles */
.submit-request-content-container {
  display: grid;
  position: relative;
}

.submit-request-page h2 {
  font-size: var(--font-size-title1);
  letter-spacing: var(--letter-spacing-title1);
  line-height: var(--line-height-title1);
  display: inline-block;
  position: relative;
}

.no-wrap {
  white-space: nowrap;
}

.info-btn-container {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  height: 24px;
  margin: 0 0.375rem;
}

.info-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.info-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (pointer: coarse) {
  .info-btn:hover {
    opacity: 1;
  }
}

.info-btn.dimmed {
  opacity: 0.5;
}

.info-btn:focus-visible {
  outline: 2px solid var(--gray-10);
}

.info-btn svg {
  width: 100%;
  height: 100%;
}

.info-btn svg * {
  fill: var(--primary);
}

.form-description {
  font-size: var(--font-size-callout);
  letter-spacing: var(--letter-spacing-callout);
  line-height: var(--line-height-callout);
  font-weight: var(--font-weight-text-regular);
  margin-bottom: 1.5rem;
  max-width: 40ch;
}

.submit-request-page .info {
  position: absolute;
  top: 2.5rem;
  background-color: var(--gray-900);
  border: var(--stroke-width) solid var(--gray-500);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: grid;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submit-request-page .info.hidden {
  display: none;
}

.submit-request-page .info .close-modal {
  justify-self: end;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.submit-request-page .form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  grid-row: 1 / 2;
}
/* End - Submit request page styles */

/* Start - Footer styles */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  row-gap: 0.75rem;
  padding-bottom: 1rem;
  padding-top: 84px;
  margin-top: auto;
  width: 100%;
  max-width: var(--max-screen-width);
}

footer small {
  grid-column: 1 / 2;
  font-size: var(--font-size-subheadline);
  letter-spacing: var(--letter-spacing-subheadline);
  line-height: var(--line-height-subheadline);
  font-weight: var(--font-weight-text-regular);
}

footer a {
  font-size: var(--font-size-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-text-semibold);
  width: fit-content;
}

/* Start - Color scheme options styles */
.color-scheme-options {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  width: fit-content;
  justify-self: end;
  display: flex;
  gap: 0.75rem;
  background-color: var(--gray-800);
  border-radius: var(--border-radius);
  padding: 0.25rem;
}

.color-scheme-options input {
  display: none;
}

.color-scheme-options label {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: none;
  width: 30px;
  height: 30px;
  padding: 0.25rem;
}

.color-scheme-options label:hover {
  cursor: pointer;
  background-color: var(--gray-500);
}

.color-scheme-options label:focus-visible {
  outline: 2px solid var(--primary);
}

.color-scheme-options svg {
  width: 100%;
  height: 100%;
}

.color-scheme-options svg * {
  fill: var(--gray-50);
}

#device-color-scheme + label svg path:first-of-type {
  fill: var(--gray-400);
  fill-opacity: 1;
}

#device-color-scheme:checked + label svg path:first-of-type {
  fill: var(--gray-100);
}

.color-scheme-options input:checked + label {
  background-color: var(--gray-300);
  transition: background-color 0.15s ease-in-out;
}

.color-scheme-options input:checked + label:hover {
  background-color: var(--gray-400);
}

@media (pointer: coarse) {
  .color-scheme-options input:checked + label:hover {
    background-color: var(--gray-300);
  }
}

.color-scheme-options input:checked + label svg rect {
  fill: var(--gray-50);
}

.color-scheme-options input:checked + label svg path {
  fill: var(--gray-900);
}
/* End - Color scheme options styles */
/* End - Footer styles */

/* Start - Not found page styles */
.not-found-page {
  height: 100%;
  h2 {
    text-align: center;
  }
}
/* End - Not found page styles */

/* ---------- EXTRA SMALL SCREEN STYLES --------- */
@media screen and (max-width: 270px) {
  .site-logo h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

@media screen and (max-width: 316px) {
  .Toastify__toast {
    width: 230px;
  }
  .site-logo {
    gap: 0.5rem;
  }

  .site-logo h1 {
    font-size: var(--font-size-headline);
  }

  .logo-container {
    width: 1.5rem;
    height: 1.5rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 371px) {
  .filter-options {
    right: 0;
    left: inherit;
  }
}

/* ---------- Medium Screen Styles ---------- */
@media screen and (min-width: 560px) {
  /* Start - Header styles */
  .download-app {
    align-self: flex-end;
  }
  /* End - Header styles */
}

@media screen and (min-width: 834px) {
  /* Start - Header styles */
  nav label {
    display: none;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    overflow: visible;
  }

  nav input:checked ~ ul,
  nav ul:focus-within {
    height: fit-content;
  }

  nav ul li {
    margin-bottom: 0;
  }

  nav li:nth-of-type(2) {
    margin-top: 0;
  }

  .download-app {
    max-width: 160px;
    margin: 0;
    align-self: initial;
    height: fit-content;
  }
  /* End - Header styles */

  /* Start - Features page styles */
  .features-container {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
  }

  .features-container .feature-container:first-of-type,
  .features-container .feature-container:last-of-type {
    /* grid-column: 1 / -1; */
  }

  .feature-container p {
    max-width: 30ch;
  }
  /* End - Features page styles */

  /* Start - Feature requests page styles */
  .feature-requests-page {
    max-width: var(--max-screen-width);
  }

  .feature-requests-page > div {
    width: 100%;
    max-width: 1200px;
  }

  .options-container {
    flex-flow: row wrap;
  }

  .options-container > div {
    width: calc(50% - 1rem);
    max-width: 422px;
  }

  .sort-filter-container {
    justify-content: flex-end;
    order: 1;
  }

  .feature-request-cards-container {
    flex-flow: row wrap;
    justify-content: center;
    max-width: 100%;
  }

  .feature-request-card {
    width: calc(50% - 2.25rem);
    max-width: 400px;
  }

  .submit-request-link {
    align-self: center;
  }
  /* End - Feature requests page styles */

  /* Start - Full feature request page styles */
  .description {
    max-width: 65ch;
  }
  /* End - Full feature request page styles */
}

/* ---------- Large Screen Styles ---------- */
@media screen and (min-width: 1000px) {
  :root {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  /* Start - Main styles */
  .page-description {
    max-width: 50ch;
  }
  /* End - Main styles */

  /* Start - Submit request page styles */
  .submit-request-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    max-width: 1000px;
  }

  .submit-request-page .form-nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .submit-request-content-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .submit-request-content-container .info.hidden {
    display: block;
    position: relative;
    background-color: initial;
    border: initial;
    border-radius: initial;
    top: initial;
    padding: 1rem 0 0 0;
    width: 100%;
    left: initial;
    transform: translateX(0);
    max-width: initial;
    box-shadow: initial;
    z-index: initial;
  }

  .info .close-btn {
    display: none;
  }

  .info-btn-container {
    display: none;
  }
  /* End - Submit request page styles */

  /* Start - Contact page styles */
  .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .contact-page .form-description {
    grid-column: 1 / -1;
  }

  .contact-page form {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
  /* End - Contact page styles */
}
